
  .NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
  }
  
  .NavLink {
    padding: 5px;
  }
  
  .Active i {
    color: #A43F2D;
  }  

  .Slogan {
    display: inline;
    font-size: 1.5rem;
    font-style: normal, bold;
    color: #515a50;
    padding: 0 15px 0 15px;
  }